body{
    background-image: url("./bg.webp");
    margin: 0;
    height: 110vh;
}
header{
    /*border: 2px solid white;*/
    padding: 20px;
    color: white;
    font-family: 'Oswald', sans-serif;
    position: sticky;
    top: 0;
}

.logobox{
    /*border: 2px solid red;**/
    display: inline-block;
    width: 120px;
    cursor: pointer;
}

.navbox>a{
    color: white;
    padding: 20px;
    text-decoration: none;
    transition: all 0.5s;
}
.navbox{
    /*border: 2px solid green;*/
    display: inline-block;
    width: 600px;
    position: absolute;
    right: 20px;
}
#homie{
    color: red;
}
.navbox>a:hover{
    color: salmon;
}
.heading{
    /*border: 2px solid white;*/
    color: rgb(225, 92, 77);
    font-size: 80px;
    position: relative;
    top: 60px;
    left: 70px;
    width: 500px;
}
.heading+h3{
    /*border: 2px solid ;*/
    color: white;
    width: 500px;
    font-size: 40px;
    position: relative;
    /*top: 60px;*/
    left: 90px;
}

.heading+h3+p{
    color: rgba(255, 255, 255, 0.879);
    font-family:"Roboto" ;
    /*border: 2px solid;*/
    position: relative;
    width: 400px;
    word-spacing: 4px;
    top: 20px;
    left: 80px;
    font-style: italic;
}
.btn{
    width: 120px;
    padding: 15px;
    border: 2px solid rgb(244, 95, 79);
    background-color: rgb(218, 96, 82);
    color: rgb(249, 246, 241);
    font-family: "Roboto" ;
    position: relative;
    top: 20px;
    left: 80px;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(255, 255, 255, 0);
}
footer{
    color: white;
    width: 500px;
    position: fixed;
    bottom: 0;
    font-family: "Roboto";
    cursor: pointer;
}